x-args: &args
    USER: ${CONTAINER_USER}
    USER_ID: ${CONTAINER_USER_ID}
    PROJECT: ${PROJECT}

x-git-args: &git-args
    GIT_AUTHOR_NAME: ${GIT_AUTHOR_NAME}
    GIT_AUTHOR_EMAIL: ${GIT_AUTHOR_EMAIL}

x-base: &base
    cap_drop: ["all"]
    security_opt: ["no-new-privileges"]
    user: ${CONTAINER_USER_ID}

services:
    git:
        <<: *base
        volumes:
            - storage:/home/${CONTAINER_USER}/${PROJECT}
        build:
            context: .
            dockerfile: git.dockerfile
            args:
                <<: [*args, *git-args]
    dev:
        <<: *base
        volumes:
            - storage:/home/${CONTAINER_USER}/${PROJECT}
            - vscode:/home/${CONTAINER_USER}/.vscode
            - vscode-server:/home/${CONTAINER_USER}/.vscode-server
        build:
            context: .
            dockerfile: dev.dockerfile
            args:
                <<: *args
        ports:
            - 8080:8080
    start:
        <<: *base
        volumes:
            - storage:/home/${CONTAINER_USER}/${PROJECT}
        build:
            context: .
            dockerfile: start.dockerfile
            args:
                <<: *args

volumes:
    storage:
    vscode:
    vscode-server:
