x-args: &args
    USER: ${CONTAINER_USER}
    USER_ID: ${CONTAINER_USER_ID}
    PROJECT: ${PROJECT}

x-git-args: &git-args
    GIT_AUTHOR_NAME: ${GIT_AUTHOR_NAME}
    GIT_AUTHOR_EMAIL: ${GIT_AUTHOR_EMAIL}

x-base: &base
    cap_drop: ["all"]
    security_opt: ["no-new-privileges"]

x-gpu: &gpu
    deploy:
        resources:
            reservations:
                devices:
                    - driver: nvidia
                      capabilities: [gpu]
                      count: all

services:
    git:
        <<: *base
        volumes:
            - storage:/home/${CONTAINER_USER}/${PROJECT}
        build:
            context: .
            dockerfile: git.dockerfile
            args:
                <<: [*args, *git-args]
    dev:
        <<: *base
        volumes:
            - storage:/home/${CONTAINER_USER}/${PROJECT}
            - vscode:/home/${CONTAINER_USER}/.vscode
            - vscode-server:/home/${CONTAINER_USER}/.vscode-server
        build:
            context: .
            dockerfile: dev.dockerfile
            args:
                <<: *args
        ports:
            - 8080:8080
    cli:
        <<: 
            - *base
            # Uncomment the following line to enable GPU support:
            # - *gpu
        volumes:
            - storage:/home/${CONTAINER_USER}/${PROJECT}
        build:
            context: .
            dockerfile: cli.dockerfile
            args:
                <<: *args
    gui:
        <<: 
            - *base 
            - *gpu
        volumes:
            - storage:/home/${CONTAINER_USER}/${PROJECT}
        build:
            context: .
            dockerfile: gui.dockerfile
            args:
                <<: *args
        ports:
            - 8900:5900
        init: true


volumes:
    storage:
    vscode:
    vscode-server:
