services:
    jupyter:
        extends:
            file: ../common/docker-compose.yaml
            service: base # Use 'gpu' to enable GPU support
        volumes:
            - root:/home/${CONTAINER_USER}/${PROJECT}
            - env:/home/${CONTAINER_USER}/env
            - local:/home/${CONTAINER_USER}/.local
            - jupyter:/home/${CONTAINER_USER}/.jupyter
        build:
            context: .
            additional_contexts:
                localhost/base: service:python
        ports:
            - 8888:8888
volumes:
    root:
    env:
    local:
    jupyter:
